# -----------------------------
# Node.js / Playwright
# -----------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Playwright reports
test-results/
playwright-report/
blob-report/

# -----------------------------
# k6
# -----------------------------
# Archivos de salida / reportes
/performance/k6/*.json
/performance/k6/*.csv
/performance/k6/*.html
/performance/k6/*.out


# -----------------------------
# JMeter
# -----------------------------
*.jtl
*.log
*.bak
*.csv
*.tmp

# -----------------------------
# VS Code / IDEs
# -----------------------------
.vscode/
.idea/
*.iml

# -----------------------------
# OS (Mac / Windows / Linux)
# -----------------------------
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# -----------------------------
# Entornos / configuración sensible
# -----------------------------
.env
*.local
